@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--commonBackground);
}

:root {
  --commonBackground: #121212;
  --foreground: #171717;
  --formInputBackground: #27272a;
}
